USE [master]
GO
/****** Object:  Database [Elearning]    Script Date: 3/19/2020 1:01:17 PM ******/
CREATE DATABASE [Elearning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Elearning', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Elearning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Elearning_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Elearning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Elearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Elearning]
GO
/****** Object:  Table [dbo].[ADD_POINT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADD_POINT](
	[ID_ADD_POINT] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_TYPE_QUESTION] [bigint] NOT NULL,
	[ADDPOINT] [int] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADD_POINT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[ID_ANSWER] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_QUESTION] [bigint] NOT NULL,
	[CONTENT] [varchar](255) NOT NULL,
	[ANSWER_CODE] [varchar](255) NOT NULL,
	[ANSWER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ANSWER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANDIDATES]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATES](
	[ID_CANDIDATES] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
	[STATUS_CANDIDATES] [int] NOT NULL,
	[ID_GROUP_TEST] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CANDIDATES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CERTIFICATEE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERTIFICATEE](
	[ID_CERTIFICATE] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
	[STATUS_CERTIFICATEE] [int] NOT NULL,
	[URL_CERTIFICATEE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CERTIFICATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER](
	[NAME] [varchar](255) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OUTLINEID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER_FREEDOMLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_FREEDOMLECTURE](
	[CHAPTERID] [bigint] NOT NULL,
	[FREEDOMLECTUREID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC,
	[FREEDOMLECTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER_HOMEWORK]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_HOMEWORK](
	[CHAPTERID] [bigint] NOT NULL,
	[HOMEWORKID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC,
	[HOMEWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER_POWERPOINTLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_POWERPOINTLECTURE](
	[CHAPTERID] [bigint] NOT NULL,
	[POWERPOINTLECTUREID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC,
	[POWERPOINTLECTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER_SCORMLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_SCORMLECTURE](
	[CHAPTERID] [bigint] NOT NULL,
	[SCORMLECTUREID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC,
	[SCORMLECTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER_VIDEOLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_VIDEOLECTURE](
	[CHAPTERID] [bigint] NOT NULL,
	[VIDEOLECTUREID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC,
	[VIDEOLECTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CONTENT] [varchar](255) NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
	[COURSEID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPETITION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETITION](
	[ID_COMPETITION] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_COMPETITION] [varchar](255) NULL,
	[STATUS_COMPETITION] [int] NOT NULL,
	[ID_COMPETITION_CATEGORY] [bigint] NOT NULL,
	[ID_UNIT] [bigint] NOT NULL,
	[TIME_START] [datetime] NOT NULL,
	[TIME_END] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[IMAGE_COMPETITION] [varchar](255) NULL,
	[DESCRIBE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPETITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPETITION_CATEGORY]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETITION_CATEGORY](
	[ID_COMPETITION_CATEGORY] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_COMPETITION] [varchar](255) NOT NULL,
	[DESCRIBE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPETITION_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDITION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDITION](
	[ID_CONDITION] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_CONDITION] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONDITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIG_REPORT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG_REPORT](
	[ID_REPORT] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_GROUP_REPORT] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[STATUS_CONFIG] [varchar](255) NOT NULL,
	[NAME_CONFIG] [varchar](255) NOT NULL,
	[NAME_FILE] [varchar](255) NOT NULL,
	[URL_CONFIG] [varchar](255) NOT NULL,
	[CONFIG_FILTER] [varchar](255) NULL,
	[DATA_SOURCES] [varchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIGURATIONN]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURATIONN](
	[ID_CONFIG] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_TYPE_DATA] [bigint] NOT NULL,
	[STATUS_CONFIGURATIONN] [int] NOT NULL,
	[VALUE_CONFIGURATIONN] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONFIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[PRICE] [int] NULL,
	[AVATAR] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[HIGHLIGHT] [int] NULL,
	[STEPBYSTEP] [int] NULL,
	[SHOWNAME] [int] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
	[COURSECATEGORYID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_COURSE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_COURSE](
	[COURSEID] [bigint] NOT NULL,
	[COURSEID2] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC,
	[COURSEID2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_DOCUMENT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_DOCUMENT](
	[COURSEID] [bigint] NOT NULL,
	[DOCUMENTID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC,
	[DOCUMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_ROLE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_ROLE](
	[ID_COURSE_ROLE] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_COURSE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COURSE_ROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSECATEGORY]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSECATEGORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSECATEGORYTREE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSECATEGORYTREE](
	[COURSECATEGORYID] [bigint] NOT NULL,
	[COURSECATEGORYID2] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSECONFIG]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSECONFIG](
	[COURSEID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPROVEAUTO] [int] NULL,
	[FREEDOMREGISTER] [int] NULL,
	[STARTS] [datetime] NULL,
	[ENDS] [datetime] NULL,
	[REGISTERSTART] [datetime] NULL,
	[REGISTEREND] [datetime] NULL,
	[STARTLEARNING] [datetime] NULL,
	[ENDLEARNING] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSEJOIN]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSEJOIN](
	[STATUS] [int] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[USERID] [bigint] NOT NULL,
	[GROUPID] [bigint] NOT NULL,
	[COURSEID] [bigint] NOT NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSEWARE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSEWARE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[CHAPTERID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_CATEGORY_EVENT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_CATEGORY_EVENT](
	[ID_DETAIL_CATEGORY_EVENT] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_DETAIL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_CATEGORY_EVENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_PERMISSTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PERMISSTION](
	[ID_DETAIL_PERMISTION] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_DETAIL] [varchar](255) NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_PERMISTION] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_PERMISTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[ID_DOCUMENT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_DOCUMENT] [varchar](255) NOT NULL,
	[ID_UNIT] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[DESCRIBE] [varchar](255) NOT NULL,
	[ID_LIMIT] [bigint] NOT NULL,
	[STATUS_DOCUMENT] [int] NOT NULL,
	[ID_PRIORITIZE] [bigint] NOT NULL,
	[ID_DOCUMENT_CATEGORY] [bigint] NOT NULL,
	[SHARE] [int] NOT NULL,
	[LINK_FILE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_CATEGORY]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_CATEGORY](
	[ID_DOCUMENT_CATEGORY] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_DOCUMENT] [varchar](255) NOT NULL,
	[DESCRIBE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENT_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTT](
	[ID_EVENT] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_DETAIL_CATEGORY_EVENT] [bigint] NOT NULL,
	[ID_UNIT] [varchar](255) NOT NULL,
	[HIGHLINGHT_EVENT] [int] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[TIMESTART] [datetime] NOT NULL,
	[TIMEEND] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EVENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORM_EMAIL]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORM_EMAIL](
	[ID_FORM_EMAIL] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_FORM] [varchar](255) NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[FUNCTION_EMAIL] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FORM_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FREEDOMLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREEDOMLECTURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[CONTENT] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[SHARED] [int] NULL,
	[STORED] [int] NULL,
	[COURSEWAREID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FREEDOMLECTUREPROCESS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREEDOMLECTUREPROCESS](
	[USERID] [bigint] NOT NULL,
	[FREEDOMLECTUREID] [bigint] NOT NULL,
	[CHAPTERID] [bigint] NOT NULL,
	[TIMELEARN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_REPORT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_REPORT](
	[ID_GROUP_REPORT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_GROUP] [varchar](255) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP_REPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_TEST](
	[ID_GROUP_TEST] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
	[NAME_GROUP] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP_TEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[COURSEID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HELP_DESK]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELP_DESK](
	[ID_HELP_DESK] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[EMAIL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HELP_DESK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOMEWORK]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOMEWORK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[CONTENT] [varchar](255) NULL,
	[SHARED] [int] NULL,
	[STARTS] [datetime] NULL,
	[ENDS] [datetime] NULL,
	[STATUS] [int] NULL,
	[STORED] [int] NULL,
	[FILES] [varchar](255) NULL,
	[COURSEWAREID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOMEWORKANSWER]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOMEWORKANSWER](
	[HOMEWORKLECTUREPROCESSID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CONTENT] [varchar](255) NULL,
	[FILES] [varchar](255) NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
	[USERID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOMEWORKLECTUREPROCESS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOMEWORKLECTUREPROCESS](
	[USERID] [bigint] NOT NULL,
	[HOMEWORKID] [bigint] NOT NULL,
	[CHAPTERID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SCORE] [int] NULL,
	[STATUS] [int] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_SLIDESHOW]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_SLIDESHOW](
	[ID_SLIDESHOW] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[LINK_IMAGE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SLIDESHOW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERACTIVELECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERACTIVELECTURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[CONTENT] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[STORED] [int] NULL,
	[COURSEWAREID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERACTIVELECTURE_CHAPTER]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERACTIVELECTURE_CHAPTER](
	[CHAPTERID] [bigint] NOT NULL,
	[INTERACTIVELECTUREID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC,
	[INTERACTIVELECTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERACTIVELECTUREPROCESS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERACTIVELECTUREPROCESS](
	[INTERACTIVELECTUREID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[CHAPTERID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STATUS] [int] NULL,
	[CONTENT] [varchar](255) NULL,
	[COMMENT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEVELL]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVELL](
	[ID_LEVEL] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_LEVELL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIMIT_DOCUMENT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIMIT_DOCUMENT](
	[ID_LIMIT_DOCUMENT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_LIMIT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LIMIT_DOCUMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAIL_CONTACT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAIL_CONTACT](
	[ID_MAIL_CONTACT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_MAIL] [varchar](255) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[CONTENT] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MAIL_CONTACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METHOD]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METHOD](
	[ID_METHOD] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_METHOD] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIX_COMPETITION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIX_COMPETITION](
	[ID_MIX_COMPETTION] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_MIX] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MIX_COMPETTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEW_CATEGORY]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEW_CATEGORY](
	[ID_DETAIL_CATEGORY] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_DETAIL] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID_NEW] [bigint] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](255) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_DETAIL_CATEGORY] [bigint] NOT NULL,
	[ID_UNIT] [bigint] NOT NULL,
	[HIGHLIGHT_NEW] [int] NOT NULL,
	[STATUS_NEW] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NEW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTLINE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTLINE](
	[COURSEID] [bigint] NOT NULL,
	[NAME] [varchar](255) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISTION](
	[ID_PERMISTION] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_PERMISTION] [varchar](255) NOT NULL,
	[CODE_NAME] [varchar](90) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERMISTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POWERPOINTLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POWERPOINTLECTURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[SHARED] [int] NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[FILE] [varchar](255) NULL,
	[STORED] [int] NULL,
	[TOTALLEARN] [int] NULL,
	[COURSEWAREID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POWERPOINTLECTUREPROCESS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POWERPOINTLECTUREPROCESS](
	[USERID] [bigint] NOT NULL,
	[CHAPTERID] [bigint] NOT NULL,
	[POWERPOINTLECTUREID] [bigint] NOT NULL,
	[LASTVIEW] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRIORITIZE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRIORITIZE](
	[ID_PRIORITIZE] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_PRIORITIZE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRIORITIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[DISTRICTID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[ID_QUESTION] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_TYPE] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_QUESTION_CATEGORY] [bigint] NOT NULL,
	[QUESTION] [text] NOT NULL,
	[EXPLAIN] [text] NULL,
	[MIX] [int] NOT NULL,
	[STATUS_QUESTION] [int] NOT NULL,
	[ID_TYPE_QUESTION] [bigint] NOT NULL,
	[ID_LEVEL] [bigint] NOT NULL,
	[ID_TAG] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUESTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION_CATEGORY]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_CATEGORY](
	[ID_QUESTION_CATEGORY] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_CATEGORY] [varchar](255) NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[DESCRIBE] [varchar](255) NOT NULL,
	[ID_UNIT] [bigint] NOT NULL,
	[SHARE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUESTION_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION_ROUND_TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_ROUND_TEST](
	[ID_QUESTION_ROUND_TEST] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
	[ID_QUESTION] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUESTION_ROUND_TEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION_TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_TEST](
	[ID_QUESTION_TEST] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_TEST] [bigint] NOT NULL,
	[ID_QUESTION] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUESTION_TEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATE](
	[USERID] [bigint] NOT NULL,
	[COURSEID] [bigint] NOT NULL,
	[VALUE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESULT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT](
	[ID_RESULT] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
	[ID_QUESTION] [bigint] NOT NULL,
	[ANSWER] [varchar](255) NOT NULL,
	[TIME_START] [datetime] NOT NULL,
	[TIME_END] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESULT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_COURSE_ACTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_COURSE_ACTION](
	[ID_ROLE_COURSE_ACTION] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_ACTION_COURSE] [bigint] NOT NULL,
	[ID_COURSE_ROLE] [bigint] NOT NULL,
	[NAME_ACTION] [varchar](255) NOT NULL,
	[STATUS_ACTION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROLE_COURSE_ACTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUND_TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUND_TEST](
	[ID_ROUND_TEST] [bigint] IDENTITY(1,1) NOT NULL,
	[MAX_WORK] [int] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_MIX_COMPETTION] [bigint] NULL,
	[MIX_ANSWER] [int] NOT NULL,
	[SHOW_RESUTL] [int] NOT NULL,
	[FULL_TICK_ANSWER] [int] NOT NULL,
	[NAME_ROUND] [varchar](255) NULL,
	[DESCRIBE] [text] NOT NULL,
	[STATUS_ROUND] [int] NOT NULL,
	[CODE_ROUND_TEST] [varchar](255) NOT NULL,
	[ID_UNIT] [bigint] NOT NULL,
	[TIME_START] [datetime] NOT NULL,
	[TIME_END] [datetime] NOT NULL,
	[TIME_ROUND] [datetime] NOT NULL,
	[ID_CONDITION] [bigint] NOT NULL,
	[GIVE_CERTIFICATE] [int] NOT NULL,
	[DO_AGAIN] [int] NOT NULL,
	[AUTO_CREATE_QUESTION] [int] NOT NULL,
	[MAX_POINT] [int] NOT NULL,
	[MIN_POINT] [int] NOT NULL,
	[ID_STRUCT_TEST] [bigint] NOT NULL,
	[ID_COMPETITION] [bigint] NOT NULL,
	[SOURCE_QUESTION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROUND_TEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORMLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORMLECTURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[TOTALTIME] [int] NULL,
	[FILE] [varchar](255) NULL,
	[SHARED] [int] NULL,
	[ISFLASH] [int] NULL,
	[STORED] [int] NULL,
	[COURSEWAREID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORMLECTUREPROCESS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORMLECTUREPROCESS](
	[USERID] [bigint] NOT NULL,
	[CHAPTERID] [bigint] NOT NULL,
	[SCORMLECTUREID] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLIDESHOW]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDESHOW](
	[ID_SLIDESHOW] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[DESCRIBE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SLIDESHOW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOURCE_QUESTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOURCE_QUESTION](
	[ID_SOURCE_QUESTION] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
	[ID_TEST_KIT] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOURCE_QUESTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATISTICAL_ACTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATISTICAL_ACTION](
	[ID_STATISTICAL_ACTION] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[URL_STATISTICAL] [varchar](255) NOT NULL,
	[NAME_STATISTICAL] [varchar](255) NOT NULL,
	[TIME_UP] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[ID_METHOD] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STATISTICAL_ACTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATISTICAL_ROUND_TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATISTICAL_ROUND_TEST](
	[ID_STATISTICAL_ROUND] [bigint] NOT NULL,
	[ID_ROUND_TEST] [bigint] NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[STATUS_STATISTICAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STATISTICAL_ROUND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRUCT_TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCT_TEST](
	[ID_STRUCT_TEST] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_UNIT] [varchar](255) NULL,
	[NAME_GROUP] [varchar](255) NULL,
	[COUNT_TEST] [int] NULL,
	[ID_LEVEL] [bigint] NOT NULL,
	[ID_TYPE_QUESTION] [bigint] NOT NULL,
	[ID_TAG] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STRUCT_TEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUB_POINT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_POINT](
	[ID_SUB_POINT] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_TYPE_QUESTION] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[SUB] [int] NOT NULL,
	[ID_ROUND_TEST] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUB_POINT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[ID_SUBJECT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_SUBJECTS] [varchar](255) NOT NULL,
	[DESCRIBE] [text] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUBJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAGS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAGS](
	[ID_TAG] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[ID_TEST] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_TEST_KIT] [bigint] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[TYPE_TEST] [int] NOT NULL,
	[ID_STRUCT_TEST] [bigint] NOT NULL,
	[ID_USER] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_KIT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_KIT](
	[ID_TEST_KIT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_TEST] [varchar](255) NOT NULL,
	[DESCRIBE] [text] NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TEST_KIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_CATEGORY]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_CATEGORY](
	[ID_DETAIL_CATEGORY_ONE] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_DETAIL_CATEGORY_TWO] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_CATEGORY_ONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_COMPETITION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_COMPETITION](
	[ID_TREE_COMPETITION] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_COMPETITION_CATEGORY_ONE] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_COMPETITION_CATEGORY_TWO] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TREE_COMPETITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_DOCUMENT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_DOCUMENT](
	[ID_DOCUMENT_CATEGORY_ONE] [bigint] NOT NULL,
	[ID_DOCUMENT_CATEGORY_TWO] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_EVENT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_EVENT](
	[ID_DETAIL_CATEGORY_EVENT_ONE] [bigint] NOT NULL,
	[ID_DETAIL_CATEGORY_EVENT_TWO] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_PERMISTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_PERMISTION](
	[ID_PERMISTION_ONE] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_PERMISTION_TWO] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_QUESTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_QUESTION](
	[ID_QUESTION_CATEGORY_ONE] [bigint] NOT NULL,
	[ID_QUESTION_CATEGORY_TWO] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE_TEST_KIT]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE_TEST_KIT](
	[ID_TEST_KID_ONE] [bigint] NOT NULL,
	[ID_TEST_KID_TWO] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_DATA]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_DATA](
	[ID_TYPE_DATA] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME_TYPE] [varchar](255) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_QUESTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_QUESTION](
	[ID_TYPE_QUESTION] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[NAME_TYPE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_QUESTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PERMISTION]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PERMISTION](
	[ID_USER_PER] [bigint] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_USER] [bigint] NULL,
	[ID_PERMISTION] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER_PER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE_COURSE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE_COURSE](
	[ID_USER_ROLE_COURSE] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_USER] [bigint] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[ID_COURSE_ROLE] [bigint] NOT NULL,
	[COURSEID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER_ROLE_COURSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID_USER] [bigint] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[NAME_USERS] [varchar](255) NOT NULL,
	[SEX] [int] NOT NULL,
	[LAST_UPDATE] [datetime] NOT NULL,
	[TIME_CREATE] [datetime] NOT NULL,
	[PHONE_NUMBER] [varchar](20) NOT NULL,
	[BIRTHDAY] [datetime] NOT NULL,
	[ID_UNIT] [bigint] NOT NULL,
	[POSITION] [varchar](255) NOT NULL,
	[IMAGE_USERS] [varchar](200) NOT NULL,
	[PLACE] [varchar](255) NOT NULL,
	[ID_COMMINE] [bigint] NOT NULL,
	[PASSWORD_USERS] [varchar](255) NOT NULL,
	[STATUS_USERS] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ID_WARD] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEOLECTURE]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEOLECTURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[FILES] [varchar](255) NULL,
	[SHARED] [int] NULL,
	[STORED] [int] NULL,
	[TOTALDURATION] [int] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL,
	[COURSEWAREID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEOLECTUREPROCESS]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEOLECTUREPROCESS](
	[USERID] [bigint] NOT NULL,
	[CHAPTERID] [bigint] NOT NULL,
	[VIDEOLECTUREID] [bigint] NOT NULL,
	[LASTTIMEVIEW] [int] NULL,
	[FINISHED] [int] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [varchar](255) NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDBY] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WARD]    Script Date: 3/19/2020 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WARD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[PROVINEID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADD_POINT]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[ADD_POINT]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[ADD_POINT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_QUESTION])
REFERENCES [dbo].[TYPE_QUESTION] ([ID_TYPE_QUESTION])
GO
ALTER TABLE [dbo].[ADD_POINT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_QUESTION])
REFERENCES [dbo].[TYPE_QUESTION] ([ID_TYPE_QUESTION])
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION])
REFERENCES [dbo].[QUESTION] ([ID_QUESTION])
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION])
REFERENCES [dbo].[QUESTION] ([ID_QUESTION])
GO
ALTER TABLE [dbo].[CANDIDATES]  WITH CHECK ADD FOREIGN KEY([ID_GROUP_TEST])
REFERENCES [dbo].[GROUP_TEST] ([ID_GROUP_TEST])
GO
ALTER TABLE [dbo].[CANDIDATES]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[CANDIDATES]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[CANDIDATES]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[CANDIDATES]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[CERTIFICATEE]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[CERTIFICATEE]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[CHAPTER_FREEDOMLECTURE]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_FREEDOMLECTURE]  WITH CHECK ADD FOREIGN KEY([FREEDOMLECTUREID])
REFERENCES [dbo].[FREEDOMLECTURE] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_HOMEWORK]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_HOMEWORK]  WITH CHECK ADD FOREIGN KEY([HOMEWORKID])
REFERENCES [dbo].[HOMEWORK] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_POWERPOINTLECTURE]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_POWERPOINTLECTURE]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_POWERPOINTLECTURE]  WITH CHECK ADD FOREIGN KEY([POWERPOINTLECTUREID])
REFERENCES [dbo].[POWERPOINTLECTURE] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_POWERPOINTLECTURE]  WITH CHECK ADD FOREIGN KEY([POWERPOINTLECTUREID])
REFERENCES [dbo].[POWERPOINTLECTURE] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_VIDEOLECTURE]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_VIDEOLECTURE]  WITH CHECK ADD FOREIGN KEY([VIDEOLECTUREID])
REFERENCES [dbo].[VIDEOLECTURE] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[CONFIG_REPORT]  WITH CHECK ADD FOREIGN KEY([ID_GROUP_REPORT])
REFERENCES [dbo].[GROUP_REPORT] ([ID_GROUP_REPORT])
GO
ALTER TABLE [dbo].[CONFIGURATIONN]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_DATA])
REFERENCES [dbo].[TYPE_DATA] ([ID_TYPE_DATA])
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD FOREIGN KEY([COURSECATEGORYID])
REFERENCES [dbo].[COURSECATEGORY] ([ID])
GO
ALTER TABLE [dbo].[COURSE_COURSE]  WITH CHECK ADD FOREIGN KEY([COURSEID2])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[COURSE_COURSE]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[COURSE_DOCUMENT]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[COURSE_DOCUMENT]  WITH CHECK ADD FOREIGN KEY([DOCUMENTID])
REFERENCES [dbo].[DOCUMENT] ([ID_DOCUMENT])
GO
ALTER TABLE [dbo].[COURSECATEGORYTREE]  WITH CHECK ADD FOREIGN KEY([COURSECATEGORYID2])
REFERENCES [dbo].[COURSECATEGORY] ([ID])
GO
ALTER TABLE [dbo].[COURSECATEGORYTREE]  WITH CHECK ADD FOREIGN KEY([COURSECATEGORYID])
REFERENCES [dbo].[COURSECATEGORY] ([ID])
GO
ALTER TABLE [dbo].[COURSECONFIG]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[COURSEJOIN]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[COURSEJOIN]  WITH CHECK ADD FOREIGN KEY([GROUPID])
REFERENCES [dbo].[GROUPS] ([ID])
GO
ALTER TABLE [dbo].[COURSEJOIN]  WITH CHECK ADD FOREIGN KEY([GROUPID])
REFERENCES [dbo].[GROUPS] ([ID])
GO
ALTER TABLE [dbo].[COURSEJOIN]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[COURSEWARE]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_PERMISSTION]  WITH CHECK ADD FOREIGN KEY([ID_PERMISTION])
REFERENCES [dbo].[PERMISTION] ([ID_PERMISTION])
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD FOREIGN KEY([ID_DOCUMENT_CATEGORY])
REFERENCES [dbo].[DOCUMENT_CATEGORY] ([ID_DOCUMENT_CATEGORY])
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD FOREIGN KEY([ID_LIMIT])
REFERENCES [dbo].[LIMIT_DOCUMENT] ([ID_LIMIT_DOCUMENT])
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD FOREIGN KEY([ID_PRIORITIZE])
REFERENCES [dbo].[PRIORITIZE] ([ID_PRIORITIZE])
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD FOREIGN KEY([ID_PRIORITIZE])
REFERENCES [dbo].[PRIORITIZE] ([ID_PRIORITIZE])
GO
ALTER TABLE [dbo].[EVENTT]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_EVENT])
REFERENCES [dbo].[DETAIL_CATEGORY_EVENT] ([ID_DETAIL_CATEGORY_EVENT])
GO
ALTER TABLE [dbo].[EVENTT]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_EVENT])
REFERENCES [dbo].[DETAIL_CATEGORY_EVENT] ([ID_DETAIL_CATEGORY_EVENT])
GO
ALTER TABLE [dbo].[EVENTT]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[FORM_EMAIL]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[FREEDOMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[FREEDOMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[FREEDOMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([FREEDOMLECTUREID])
REFERENCES [dbo].[FREEDOMLECTURE] ([ID])
GO
ALTER TABLE [dbo].[FREEDOMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([FREEDOMLECTUREID])
REFERENCES [dbo].[FREEDOMLECTURE] ([ID])
GO
ALTER TABLE [dbo].[FREEDOMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[FREEDOMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[GROUP_TEST]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[HOMEWORK]  WITH CHECK ADD FOREIGN KEY([COURSEWAREID])
REFERENCES [dbo].[COURSEWARE] ([ID])
GO
ALTER TABLE [dbo].[HOMEWORKANSWER]  WITH CHECK ADD FOREIGN KEY([HOMEWORKLECTUREPROCESSID])
REFERENCES [dbo].[HOMEWORKLECTUREPROCESS] ([ID])
GO
ALTER TABLE [dbo].[HOMEWORKANSWER]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[HOMEWORKLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[HOMEWORKLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([HOMEWORKID])
REFERENCES [dbo].[HOMEWORK] ([ID])
GO
ALTER TABLE [dbo].[HOMEWORKLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[INTERACTIVELECTURE]  WITH CHECK ADD FOREIGN KEY([COURSEWAREID])
REFERENCES [dbo].[COURSEWARE] ([ID])
GO
ALTER TABLE [dbo].[INTERACTIVELECTURE_CHAPTER]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[INTERACTIVELECTURE_CHAPTER]  WITH CHECK ADD FOREIGN KEY([INTERACTIVELECTUREID])
REFERENCES [dbo].[INTERACTIVELECTURE] ([ID])
GO
ALTER TABLE [dbo].[INTERACTIVELECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[INTERACTIVELECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([INTERACTIVELECTUREID])
REFERENCES [dbo].[INTERACTIVELECTURE] ([ID])
GO
ALTER TABLE [dbo].[INTERACTIVELECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY])
REFERENCES [dbo].[NEW_CATEGORY] ([ID_DETAIL_CATEGORY])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY])
REFERENCES [dbo].[NEW_CATEGORY] ([ID_DETAIL_CATEGORY])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[OUTLINE]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[POWERPOINTLECTURE]  WITH CHECK ADD FOREIGN KEY([COURSEWAREID])
REFERENCES [dbo].[COURSEWARE] ([ID])
GO
ALTER TABLE [dbo].[POWERPOINTLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[POWERPOINTLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([POWERPOINTLECTUREID])
REFERENCES [dbo].[POWERPOINTLECTURE] ([ID])
GO
ALTER TABLE [dbo].[POWERPOINTLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[PROVINE]  WITH CHECK ADD FOREIGN KEY([DISTRICTID])
REFERENCES [dbo].[DISTRICT] ([ID])
GO
ALTER TABLE [dbo].[PROVINE]  WITH CHECK ADD FOREIGN KEY([DISTRICTID])
REFERENCES [dbo].[DISTRICT] ([ID])
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_LEVEL])
REFERENCES [dbo].[LEVELL] ([ID_LEVEL])
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION_CATEGORY])
REFERENCES [dbo].[QUESTION_CATEGORY] ([ID_QUESTION_CATEGORY])
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_TAG])
REFERENCES [dbo].[TAGS] ([ID_TAG])
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_TYPE])
REFERENCES [dbo].[TYPE_QUESTION] ([ID_TYPE_QUESTION])
GO
ALTER TABLE [dbo].[QUESTION_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION])
REFERENCES [dbo].[QUESTION] ([ID_QUESTION])
GO
ALTER TABLE [dbo].[QUESTION_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION])
REFERENCES [dbo].[QUESTION] ([ID_QUESTION])
GO
ALTER TABLE [dbo].[QUESTION_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[QUESTION_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[QUESTION_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[QUESTION_TEST]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION])
REFERENCES [dbo].[QUESTION] ([ID_QUESTION])
GO
ALTER TABLE [dbo].[QUESTION_TEST]  WITH CHECK ADD FOREIGN KEY([ID_TEST])
REFERENCES [dbo].[TEST] ([ID_TEST])
GO
ALTER TABLE [dbo].[RATE]  WITH CHECK ADD  CONSTRAINT [FKRATE48264] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[RATE] CHECK CONSTRAINT [FKRATE48264]
GO
ALTER TABLE [dbo].[RATE]  WITH CHECK ADD  CONSTRAINT [FKRATE627098] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[RATE] CHECK CONSTRAINT [FKRATE627098]
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION])
REFERENCES [dbo].[QUESTION] ([ID_QUESTION])
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[ROLE_COURSE_ACTION]  WITH CHECK ADD FOREIGN KEY([ID_COURSE_ROLE])
REFERENCES [dbo].[COURSE_ROLE] ([ID_COURSE_ROLE])
GO
ALTER TABLE [dbo].[ROLE_COURSE_ACTION]  WITH CHECK ADD FOREIGN KEY([ID_COURSE_ROLE])
REFERENCES [dbo].[COURSE_ROLE] ([ID_COURSE_ROLE])
GO
ALTER TABLE [dbo].[ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_CONDITION])
REFERENCES [dbo].[CONDITION] ([ID_CONDITION])
GO
ALTER TABLE [dbo].[ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION])
REFERENCES [dbo].[COMPETITION] ([ID_COMPETITION])
GO
ALTER TABLE [dbo].[ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_MIX_COMPETTION])
REFERENCES [dbo].[MIX_COMPETITION] ([ID_MIX_COMPETTION])
GO
ALTER TABLE [dbo].[ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_STRUCT_TEST])
REFERENCES [dbo].[STRUCT_TEST] ([ID_STRUCT_TEST])
GO
ALTER TABLE [dbo].[SCORMLECTURE]  WITH CHECK ADD FOREIGN KEY([COURSEWAREID])
REFERENCES [dbo].[COURSEWARE] ([ID])
GO
ALTER TABLE [dbo].[SCORMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[SCORMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([SCORMLECTUREID])
REFERENCES [dbo].[SCORMLECTURE] ([ID])
GO
ALTER TABLE [dbo].[SCORMLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[SOURCE_QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[SOURCE_QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_TEST_KIT])
REFERENCES [dbo].[TEST_KIT] ([ID_TEST_KIT])
GO
ALTER TABLE [dbo].[STATISTICAL_ACTION]  WITH CHECK ADD FOREIGN KEY([ID_METHOD])
REFERENCES [dbo].[METHOD] ([ID_METHOD])
GO
ALTER TABLE [dbo].[STATISTICAL_ACTION]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[STATISTICAL_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[STATISTICAL_ROUND_TEST]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[STRUCT_TEST]  WITH CHECK ADD FOREIGN KEY([ID_LEVEL])
REFERENCES [dbo].[LEVELL] ([ID_LEVEL])
GO
ALTER TABLE [dbo].[STRUCT_TEST]  WITH CHECK ADD FOREIGN KEY([ID_TAG])
REFERENCES [dbo].[TAGS] ([ID_TAG])
GO
ALTER TABLE [dbo].[STRUCT_TEST]  WITH CHECK ADD FOREIGN KEY([ID_TAG])
REFERENCES [dbo].[TAGS] ([ID_TAG])
GO
ALTER TABLE [dbo].[STRUCT_TEST]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_QUESTION])
REFERENCES [dbo].[TYPE_QUESTION] ([ID_TYPE_QUESTION])
GO
ALTER TABLE [dbo].[STRUCT_TEST]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_QUESTION])
REFERENCES [dbo].[TYPE_QUESTION] ([ID_TYPE_QUESTION])
GO
ALTER TABLE [dbo].[SUB_POINT]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[SUB_POINT]  WITH CHECK ADD FOREIGN KEY([ID_ROUND_TEST])
REFERENCES [dbo].[ROUND_TEST] ([ID_ROUND_TEST])
GO
ALTER TABLE [dbo].[SUB_POINT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_QUESTION])
REFERENCES [dbo].[TYPE_QUESTION] ([ID_TYPE_QUESTION])
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD FOREIGN KEY([ID_STRUCT_TEST])
REFERENCES [dbo].[STRUCT_TEST] ([ID_STRUCT_TEST])
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD FOREIGN KEY([ID_TEST_KIT])
REFERENCES [dbo].[TEST_KIT] ([ID_TEST_KIT])
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[TREE_CATEGORY]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_ONE])
REFERENCES [dbo].[NEW_CATEGORY] ([ID_DETAIL_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_CATEGORY]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_TWO])
REFERENCES [dbo].[NEW_CATEGORY] ([ID_DETAIL_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_CATEGORY]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_ONE])
REFERENCES [dbo].[NEW_CATEGORY] ([ID_DETAIL_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_CATEGORY]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_TWO])
REFERENCES [dbo].[NEW_CATEGORY] ([ID_DETAIL_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY_ONE])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY_TWO])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY_ONE])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY_TWO])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY_ONE])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_COMPETITION]  WITH CHECK ADD FOREIGN KEY([ID_COMPETITION_CATEGORY_TWO])
REFERENCES [dbo].[COMPETITION_CATEGORY] ([ID_COMPETITION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_DOCUMENT]  WITH CHECK ADD FOREIGN KEY([ID_DOCUMENT_CATEGORY_ONE])
REFERENCES [dbo].[DOCUMENT_CATEGORY] ([ID_DOCUMENT_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_DOCUMENT]  WITH CHECK ADD FOREIGN KEY([ID_DOCUMENT_CATEGORY_TWO])
REFERENCES [dbo].[DOCUMENT_CATEGORY] ([ID_DOCUMENT_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_EVENT]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_EVENT_ONE])
REFERENCES [dbo].[DETAIL_CATEGORY_EVENT] ([ID_DETAIL_CATEGORY_EVENT])
GO
ALTER TABLE [dbo].[TREE_EVENT]  WITH CHECK ADD FOREIGN KEY([ID_DETAIL_CATEGORY_EVENT_TWO])
REFERENCES [dbo].[DETAIL_CATEGORY_EVENT] ([ID_DETAIL_CATEGORY_EVENT])
GO
ALTER TABLE [dbo].[TREE_PERMISTION]  WITH CHECK ADD FOREIGN KEY([ID_PERMISTION_ONE])
REFERENCES [dbo].[PERMISTION] ([ID_PERMISTION])
GO
ALTER TABLE [dbo].[TREE_PERMISTION]  WITH CHECK ADD FOREIGN KEY([ID_PERMISTION_TWO])
REFERENCES [dbo].[PERMISTION] ([ID_PERMISTION])
GO
ALTER TABLE [dbo].[TREE_QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION_CATEGORY_ONE])
REFERENCES [dbo].[QUESTION_CATEGORY] ([ID_QUESTION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_QUESTION_CATEGORY_TWO])
REFERENCES [dbo].[QUESTION_CATEGORY] ([ID_QUESTION_CATEGORY])
GO
ALTER TABLE [dbo].[TREE_TEST_KIT]  WITH CHECK ADD FOREIGN KEY([ID_TEST_KID_ONE])
REFERENCES [dbo].[TEST_KIT] ([ID_TEST_KIT])
GO
ALTER TABLE [dbo].[TREE_TEST_KIT]  WITH CHECK ADD FOREIGN KEY([ID_TEST_KID_TWO])
REFERENCES [dbo].[TEST_KIT] ([ID_TEST_KIT])
GO
ALTER TABLE [dbo].[USER_PERMISTION]  WITH CHECK ADD FOREIGN KEY([ID_PERMISTION])
REFERENCES [dbo].[PERMISTION] ([ID_PERMISTION])
GO
ALTER TABLE [dbo].[USER_PERMISTION]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[USER_ROLE_COURSE]  WITH CHECK ADD FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[USER_ROLE_COURSE]  WITH CHECK ADD FOREIGN KEY([ID_COURSE_ROLE])
REFERENCES [dbo].[COURSE_ROLE] ([ID_COURSE_ROLE])
GO
ALTER TABLE [dbo].[USER_ROLE_COURSE]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([ID_WARD])
REFERENCES [dbo].[WARD] ([ID])
GO
ALTER TABLE [dbo].[VIDEOLECTURE]  WITH CHECK ADD FOREIGN KEY([COURSEWAREID])
REFERENCES [dbo].[COURSEWARE] ([ID])
GO
ALTER TABLE [dbo].[VIDEOLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[VIDEOLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[VIDEOLECTUREPROCESS]  WITH CHECK ADD FOREIGN KEY([VIDEOLECTUREID])
REFERENCES [dbo].[VIDEOLECTURE] ([ID])
GO
USE [master]
GO
